body {
    background-color: lightgray;
}

h1 {
    width: 50%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 15px;
    text-align:center;
    background-color: beige;
}

#mainblock {
    width: 50%;
    margin: auto;
    background-color: beige;
    border-radius: 15px;
    border: 1px dashed black;
  }

.inputblock{
    padding: 5px;
    margin-top: 10px;
    margin-left: 25%;
    color:darkslateblue;
    font-weight: bold;
}
#submit{
    margin-left: 25%;
    margin-bottom: 10px;
}