* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Microsoft JhengHei;
}

#title {
  color: #d08770;
  background-color: #4c566a;
  padding: 1rem 0px;
}

h3 {
  margin: 1rem 0px;
}

#app {
  #main {
    display: flex;

    #outputPanel {
      position: relative;
      width: 30%;

      .note {
        margin: 0rem 0rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        padding: 0rem;
        /* border: 1px solid #d8dee9;
        border-radius: 10px; */
        font-size: 1rem;
        font-weight: bolder;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;

        span {
          text-align: left;
          font-size: 1.5rem;
          padding: 0.5rem;
          border: 1px solid black;
          width: 300px;
          height: auto;
          word-wrap: break-word;
          &:hover {
            cursor: pointer;
          }
          &.focus {
            background-color: #d08770;
          }
        }

        button {
          width: 50px;
          height: 50px;
          border: 0px solid black;
          border-radius: 0 10px 10px 0;
          color: black;
          background-color: white;

          &:hover {
            cursor: pointer;
            background-color: black;
            color: white;
            transition: 0.25s;
          }

          &.block {
            opacity: 0.5;

            &:hover {
              cursor: not-allowed;
            }
          }
        }
      }
    }

    #inputPanel {
      width: 100%;

      div button {
        font-size: 1.5rem;
        font-weight: bolder;
        padding: 0.5rem;
        margin: 0 2.5%;
        border: 0px;
        border-radius: 10px;
        background-color: #b48ead;

        &:hover {
          cursor: pointer;
          background-color: black;
          color: white;
          transition: 0.1s;
        }
      }

      textarea {
        width: 95%;
        margin-left: 2.5%;
        height: 500px;
        font-size: 2rem;
        border: 0px;
        background-color: #eceff4;

        &:focus {
          border: 5px solid #b48ead;
          transition: 0.1s;
        }
      }
    }
  }
}
