* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-color: darkslategray;
    /* background-repeat: none; */
    background-size: cover;
}

#h1Block {
    color: whitesmoke;
    font-size: larger;
    font-family: Fantasy;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}

#inputBlock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    flex: 1;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
}

#input:focus{
    border: 5px solid gray;
}

.redFont {
    color: red;
}

.orangeFont {
    color: orange;
}

.blackFont {
    color: black;
}

.inputBtn {
    border: 2px solid black;
    font-size: 18px;
    border-radius: 8px;
    background-color: darkred;
    color: white;
    padding: 1px;
}

.inputBtn:hover {
    border: 2px solid darkred;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    background-color: white;
    color: black;
    padding: 1px;
}

.exportBtn {
    border: 2px solid black;
    font-size: 18px;
    color: white;
    background-color:blueviolet;
    border-radius: 8px;
    padding: 1px;
}

.exportBtn:hover {
    cursor: pointer;
    border: 2px solid blueviolet;
    font-size: 18px;
    color: black;
    background-color:white;
    border-radius: 8px;
    padding: 1px;
}

#outputBlock {
    width: 400px;
    margin: auto;
}

#list{
     /* border: 5px solid black; */
}

#list li {
    list-style-type: none;
    display: flex;
    justify-content:flex-end;
    padding: 1px;
    margin: 15px;
    background-color: lightblue;
    border-radius: 5px;
    /* border: 3px solid black; */
}

#list li span{
    flex: 1px;
    text-align: left;
    font-size: 18px;
    padding: 6px;
    /* border: 1px solid black; */
}

#list li p{
    flex: 1px;
    text-align: left;
    font-size: 18px;
    padding: 6px;
    /* border: 1px solid black; */
}

#list button {
    border-radius: 5px;
    border: 0 px;
    font-size: 18px;
    /* border: 3px solid black; */
    margin: 5px;
}

#list button:hover {
    cursor: pointer;
    background-color: rgb(36, 35, 35);
    color: white;
    font-size: 18px;
}

/* 新增事件急迫性分類功能 */
#priorSelect {
    font-size: 18px;
    border: 3px solid black;
    border-radius: 5px;
}

.important {
    color: orange;
}

.urgent {
    color: red;
}

/* 狀態文字 */
.statusText {
    display: none;
    color: green;
}

/* 狀態設定按鈕 */
.doneBtn {
    background-color: lightblue;
    border: 0px;
    color: gray;
    font-size: 14px;
}